*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d1b2a;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    min-height:100vh;
    padding-top:100px;
    margin:0;
    overflow:hidden;

    align-items:center;



}

#contenedor{

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    align-items:center;
    justify-content:flex-start;

}

h1{

    font-size:28px;
    margin-bottom:4px;

}

h2{

    font-size:18px;
    margin-bottom:10px;

}

#hud{
    display:flex;
    justify-content:space-around;
    background:#1b263b;
    padding:8px;
    border-radius:10px;
    margin-bottom:10px;
    font: size 16px;
}

#laberinto{

     width:min(92vw,92vh);
    height:min(92vw,92vh);

    max-width:700px;
    max-height:700px;

    display:grid;

    border:5px solid #2196f3;
    border-radius:15px;

    overflow:hidden;

    background:black;

}

#controles{
     width:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    margin-top:10px;
    
    gap:8px;
}

#controles div{
    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;

}

#controles button{
    width:60px;
    height:60px;
    font-size:28px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    background:#1976d2;
    color:white;
}

#controles button:hover{
    background:#1565c0;
}

#modalLibro{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

#ventanaLibro{
    width:90%;
    height:90%;
    background:white;
    border-radius:15px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

#iframeLibro{
    flex:1;
    border:none;
}

#ventanaLibro button{
    padding:18px;
    font-size:20px;
    border:none;
    background:#1976d2;
    color:white;
    cursor:pointer;
}

.casilla{
    width:100%;
    height:100%;
    background:transparent;
}

.muro{
    background:#1d4ed8;
    border:1px solid #2563eb;
    border-radius:4px;
}

.camino{
    background:#050505;
}

.pacman{

    width:100%;
    height:100%;

    background-repeat:no-repeat;
    background-position:center;
    background-size:70% 70%;

}

@keyframes comer{
    from{
        background-position:0 0;
    }

    to{
        background-position:100% 0;
    }
}
.derecha{
    transform:rotate(0deg);
}

.abajo{
    transform:rotate(90deg);
}

.izquierda{
    transform:rotate(180deg);
}

.arriba{
    transform:rotate(270deg);
}

.puntito{

    background: black;
    position: relative;

}

.puntito::after{

    content: "";

    width: 12px;
height: 12px;

    background: #ffd54f;
    border-radius: 50%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

}

.libro{

    background: black;
    position: relative;

}

.libro::after{

    content: "";

    width: 20px;
    height: 20px;

    background: #ffd54f;
    border-radius: 50%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

}

#mensajeMonedas{

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: none;

    z-index: 9999;

    background: gold;

    color: white;

    font-size: 40px;

    padding: 20px 40px;

    border-radius: 20px;
}

@keyframes aparecer{

    0%{

        opacity:0;

        transform:translate(-50%,-30%) scale(.5);

    }

    30%{

        opacity:1;

        transform:translate(-50%,-50%) scale(1.3);

    }

    100%{

        opacity:0;

        transform:translate(-50%,-80%) scale(1);

    }

}

.medallaModal{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.75);

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.medallaBox{

    width:90%;

    max-width:500px;

    background:white;

    border-radius:25px;

    padding:25px;

    text-align:center;

    animation:aparece .5s ease;

            color:#333;



}

.medallaIcono{

    font-size:120px;

    margin:20px 0;

}

.medallaBox button{

    margin-top:25px;

    padding:15px 40px;

    font-size:20px;

    border:none;

    border-radius:15px;

    background:#1976d2;

    color:white;

    cursor:pointer;

}

@keyframes aparece{

    from{

        transform:scale(.5);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

@media (max-width:768px){

    #laberinto{

        height:72vh;

    }

}

@media (max-width:768px){

    #controles button{

        width:65px;
        height:65px;
        font-size:28px;

    }

}

@media (max-width:768px){

    #controles{

        gap:5px;

    }

    #controles div{

        gap:8px;

    }

}

@media (max-width:768px){

    #laberinto{

        width:95vw;
        height:95vw;

    }

}
@media (max-width:768px){

    h1,
    h2,
    #hud{

        display:none;

    }

}
@media (max-width:768px){

    h1,
    h2{

        display:none;

    }

    #hud{

        width:95%;

        font-size:18px;

        margin-bottom:10px;

    }

    #laberinto{

        width:95vw;
        height:95vw;

    }

    #controles{

        margin-top:8px;

    }

    #controles button{

        width:70px;
        height:70px;

        font-size:32px;

    }

}
html,
body{

    touch-action: manipulation;

    overscroll-behavior: none;

    -webkit-user-select: none;
    user-select: none;

}

.medallaBox h1{

       margin:10px 0;

    color:#1976d2;

    font-size:36px;

}

.medallaBox h2{

    margin:10px 0;

    color:#555;

    font-size:26px;

}

.medallaBox p{

     margin-top:15px;

    font-size:22px;

    color:#555;

}

@media (max-width:768px){

    .medallaBox h1{

        font-size:28px;

    }

    .medallaBox h2{

        font-size:22px;

    }

    .medallaBox p{

        font-size:18px;

    }

}
